<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=farmacia; Uid=root;Pwd=1234567890;" name="condb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <pages controlRenderingCompatibilityVersion="4.0" enableEventValidation="false"/>
  </system.web>
  
</configuration>