.modal-dialog {
    height: -webkit-fill-available;
}
.modal-content {
    max-height: -webkit-fill-available;
    overflow:auto;
}

body {
    /*background-image: url(../resources/img/imgLogin.jfif);*/
    background-image: url(../Imagenes/imgFondoLogo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.encabezado {
    /*background: rgb(65,97,156, 0.9);*/
    background: rgb(120, 64, 126);
    padding: 20px;
    color: white;
}

.formulario {
    background: rgba(249,222,248,0.7);
    padding: 20px;
    border-radius: 10px; 
    color: white;
}

.ingresar {
    border: none;
    outline: none;
    height: 40px;
    /*background: #45619c;*/
    background: #78407e;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.formulario input[type="email"], .formulario input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    /*background: rgb(128, 128, 128,0.5);*/
    outline: none;
    height: 40px;
    font-size: 18px;
    color: black;
    line-height: normal;
}

.reactive {
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: darkgrey;
    line-height: normal;
}


/*Ventana Modal*/
.cabecero {
    background: rgb(65,97,156, 0.7);
    text-align:center;

}


.ErrorLogin {
    background: rgba(255,0,0, 0.6);
}


.modal {
    background-color: rgba(80,80,80,0.5);
}

.modal .modal-content {
    background-color: #fdcbfc;
}

.modal-header {
    background-color: #46114c;
    color: #fff;
}


h1.tex-light {
    COLOR: #78407e;
}

button.btn.btn-link {
    color: #78407e;
    font-weight: bold;
}