body {
    /*background-image: url(../resources/img/imgLogin.jfif);*/
    background-image: url(../Imagenes/imgFondoLogo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.encabezado {
    background: rgb(65,97,156, 0.9);
    padding: 20px;
    color: white;
}

.formulario {
    background: rgb(128, 128, 128,0.7);
    padding: 20px;
    border-radius: 10px; 
    color: white;
}

.ingresar {
    border: none;
    outline: none;
    height: 40px;
    background: #45619c;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.formulario input[type="email"], .formulario input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    /*background: rgb(128, 128, 128,0.5);*/
    outline: none;
    height: 40px;
    font-size: 18px;
    color: black;
    line-height: normal;
}

.reactive {
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: darkgrey;
    line-height: normal;
}


/*Ventana Modal*/
.cabecero {
    background: rgb(65,97,156, 0.7);
    text-align:center;

}


.ErrorLogin {
    background: rgb(255,0,0, 0.6);
}

.modal {
    background-color:#808080b8;
}
}
