
.encabezado {
    background: rgb(65,97,156, 0.9);
    padding: 20px;
    /*border-radius: 10px;*/
    color: white;
    height: 70px;
    /*position: fixed;*/
    z-index:1;
}

.sombra{
    background: rgba(220,220,220,0.7);
    position: absolute;
    height: calc(100% - 70px);
    width: 100%;
    z-index: 5;
}

 #btnSalir{
    height: 40px;
    float: right;
    margin-top: 4px;
    position: absolute;
    right: 10px;
}
   
 #btnRegresar {
    height: 30px;
    float: right;
    margin-top: 8px;
    position: absolute;
    right: 70px;
}


 #lblTitle img {
    vertical-align: top;
    width: 47px !important;
    margin-right: 7px;
}

#lblTitle h1 {
    display: inherit;
    line-height: 2.5rem;
}


@media (max-width: 740px) {
    h1{
        font-size: 20px;
    }
}